{% extends "layout.html" %}

{% block body %}
      <h1><span class="archive-name">MELPA</span> (Milkypostman’s Emacs Lisp Package Archive)</h1>
      <ul>
        <li>Up-to-date packages built on our servers from upstream source</li>
        <li>Installable in any recent Emacs using 'package.el' - no need to install svn/cvs/hg/bzr/git/darcs/fossil etc.</li>
        <li>Curated - no obsolete, renamed, forked or randomly hacked packages</li>
        <li>Comprehensive - more packages than any other archive</li>
        <li>Automatic updates - new commits result in new packages</li>
        <li>Extensible - contribute recipes via github, and we'll build the packages</li>
      </ul>

      <strong>Filter:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
      <br/>
      <br/>
      <div class="gridStyle" ng-grid="gridOptions"></div>

      {% endblock %}
